.banners {
  padding: 40px 0 0 0 !important;

  &__body {
    margin: 0 -18px;
  }

  &__col {
    padding: 0 18px;
    margin: 0 0 40px 0;
  }

  &__item {
    position: relative;
    display: block;

    &:hover {
      .banners__img {
        img {
          filter: brightness(20%);
          transform: scale(1.08);
        }
      }

      .banners-hover {
        opacity: 1;
        visibility: visible;
      }

      .profile-body__action {
        color: #fc0321;

        &::after {
          background: #fc0321;
        }
      }
    }
  }

  &__img-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;

    &_shadow {
      box-shadow: 4px 4px 20px rgb(117 115 111 / 18%);
    }
  }

  &__img {
    position: relative;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 225px;

    &_long {
      height: 405px;
    }

    &_wide {
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 5;
      will-change: transform;
      transition: transform 0.5s ease, filter 0.4s ease;
    }
  }

  &__hover {
  }

  &__link-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  .profile-body__action {
    display: inline-block;
  }
}
.presentations {
  padding: 10px 0 50px 0 !important;
}

@media (max-width: 1023px) {
  .banners {
    padding: 30px 0 0 0 !important;

    &__body {
      margin: 0 -11px;
    }

    &__col {
      padding: 0 11px;
      margin: 0 0 22px 0;
    }

    &__img {
      height: 160px;

      &_long {
        height: 300px;
      }
    }

    &__link-wrap {
      margin: 15px 0 0 0;
    }
  }
  .presentations {
    padding: 10px 0 60px 0 !important;
  }
}

@media (max-width: 767px) {
  .banners {
    &__img {
      height: 190px;

      &_long {
        height: 380px;
      }
    }
  }
}

@media (max-width: 575px) {
  .banners {
    &__img {
      height: 210px;

      &_long {
        height: 460px;
      }
    }
  }
}
