.messenger-header {
  position: relative;
  width: 100%;
  background-color: #f6f7fb;
  border-bottom: 1px solid #fff;
  padding: 13px 20px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__img {
    display: block;
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    max-width: 42px;
    max-height: 42px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    margin: 0 15px 0 0;

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }

  &__username {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #2e2f31;

    max-width: 430px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 991px) {
  .messenger-header {
    padding: 8px 20px;

    &__back {
      display: block;
      margin: 0 15px 0 0;

      &:hover {
        .icon {
          &__item {
            fill: #2e2f31;
          }
        }
      }

      .icon {
        width: 26px;
        height: 26px;

        &__item {
          fill: #2774ac;
        }
      }
    }

    &__img {
      width: 38px;
      height: 38px;
      min-width: 38px;
      min-height: 38px;
      max-width: 38px;
      max-height: 38px;
      margin: 0 8px 0 0;
    }

    &__username {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .messenger-header {
    &__username {
      max-width: 420px;
    }
  }
}

@media (max-width: 575px) {
  .messenger-header {
    &__username {
      max-width: 270px;
    }
  }
}

@media (max-width: 424px) {
  .messenger-header {
    &__username {
      max-width: 225px;
    }
  }
}

@media (max-width: 374px) {
  .messenger-header {
    &__username {
      max-width: 170px;
    }
  }
}
