.carpark {
  &__intro {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    min-height: 315px;
    padding: 30px 25px 55px 25px;
  }

  &__tab-nav {
  }

  &__tabs {
    section {
      padding: 0;
    }
  }
}

.carparks__rating .icon__item {
  fill: #ffe600;
}

@media (max-width: 1023px) {
  .carpark {
    &__intro {
      min-height: 270px;
      padding: 25px 20px 45px 20px;
    }
  }
}

@media (max-width: 991px) {
  .carpark {
    padding: 0 0 60px 0 !important;

    &__intro {
      min-height: 220px;
      margin: 0 -20px 25px -20px;
    }
  }
}
