.tables-nav {
  position: relative;
  display: inline-block;

  &__item {
    display: inline-block;
    margin: 0 25px 20px 0 !important;

    &:last-child {
      margin: 0 0 20px 0 !important;
    }
  }

  &__link {
    position: relative !important;
    background: none !important;
    display: inline-block !important;
    background-color: transparent !important;
    border: 2px solid #2774ac !important;
    border-radius: 8px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #2774ac !important;
    text-align: center !important;
    padding: 10px 25px !important;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease,
      opacity 0.2s ease, box-shadow 0.2s ease !important;

    &:hover {
      opacity: 0.7 !important;
    }

    &:focus {
      opacity: 1 !important;
    }

    &.active {
      background-color: #2774ac !important;
      color: #fff !important;
    }
  }
}

@media (max-width: 1023px) {
  .tables-nav {
    &__item {
      margin: 0 20px 15px 0 !important;

      &:last-child {
        margin: 0 0 15px 0 !important;
      }
    }

    &__link {
      font-size: 14px !important;
      padding: 8px 10px !important;
    }
  }
}
