.car {
  &__top {
    margin: 0 0 32px 0;
  }

  &__row {
    margin: 0 -20px;
  }

  &__col {
    padding: 0 20px;
  }

  &__title {
    font-size: 28px;
    color: #2774ac;
    margin: 0;

    span {
      display: inline-block;
      font-weight: 300;
      margin: 0 0 0 14px;
    }
  }

  &__top-actions {
    display: flex;
    align-items: center;

    .btn-main {
      font-size: 15px;
      font-weight: 500;
      padding: 6px 18px;

      &:nth-child(odd) {
        margin: 0 36px 0 0;
      }
    }
  }

  &__top-views {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    color: #acacac;

    .icon {
      width: 21px;
      height: 21px;
      margin: 0 10px 0 0;

      &__item {
        fill: #acacac;
      }
    }
  }

  &__body {
  }

  &__slider-body {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 1023px) {
  .car {
    &__top {
      margin: 0 0 25px 0;
    }

    &__row {
      margin: 0 -15px;
    }

    &__col {
      padding: 0 15px;
    }

    &__title {
      font-size: 22px !important;
      margin: 0 !important;

      span {
        margin: 0 0 0 10px;
      }
    }

    &__top-actions {
      .btn-main {
        font-size: 14px;
        padding: 6px 14px;

        &:nth-child(odd) {
          margin: 0 15px 0 0;
        }

        .d-flex {
          .icon {
            width: 16px;
            height: 16px;
            margin: 0 10px 0 0;
          }
        }
      }
    }

    &__top-views {
      font-size: 14px;

      .icon {
        width: 20px;
        height: 20px;
        margin: 0 8px 0 0;
      }
    }

    &__body {
    }

    &__slider-body {
      margin: 0 0 35px 0;
    }
  }
}

@media (max-width: 767px) {
  .car {
    &__top {
      margin: 0 0 20px 0;
    }

    &__row {
      margin: 0 -10.5px;
    }

    &__col {
      padding: 0 10.5px;
    }

    &__title {
      font-size: 20px !important;
      margin: 0 0 12px 0 !important;
    }

    &__top-actions {
      justify-content: space-between;
      margin: 0 0 12px 0;
    }

    &__top-views {
      font-size: 13px;
      margin: 0 0 12px 10px;

      .icon {
        width: 17px;
        height: 17px;
        margin: 0 6px 0 0;
      }
    }

    &__body {
    }

    &__slider-body {
      margin: 0 0 35px 0;
    }
  }
}

@media (max-width: 575px) {
  .car {
    &__top-actions {
      width: 100%;

      .btn-main {
        display: block;
        width: 100%;
      }
    }
  }
}

@media (max-width: 374px) {
  .car {
    &__top-actions {
      flex-wrap: wrap;

      .btn-main {
        margin: 0 0 10px 0;

        &:nth-child(odd) {
          margin: 0 0 10px 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
